<nav class="main-nav min-h-12 flex flex-row bg-transparent border-b-2">
  <div class="flex flex-row justify-around w-full">
    <div class="flex flex-row">
      <a href="/" class="flex flex-row items-center text-black font-bold text-base">CUACK LIST</a>
    </div>
    <div class="flex flex-row justify-around w-[20%]">
      <a href="/lists" class="flex flex-row items-center text-black font-bold text-base">LISTS</a>
      <a href="/movies" class="flex flex-row items-center text-black font-bold text-base">MOVIES</a>
    </div>
  </div>
</nav>
